@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-Black.ttf") format("ttf");
  font-weight: 900;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-Bold.ttf") format("ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-Medium.ttf") format("ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-Regular.ttf") format("ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-SemiBold.ttf") format("ttf");
  font-weight: 800;
}
